@import '../../scss/variables.scss';

.show-purchase-order {
    .title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 35px;
    }
    
    .card {
        border: 0;
        border-radius: 8px;
        
        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 50px;
            border: none;
            padding: 20px 20px;
            border-bottom: 1px solid rgba(#E1E1FB, .6);
            margin-bottom: 25px;

            h6 {
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 0;
            }

            button {
                background-color: transparent;
                border: 2px solid $purple;
                padding: 10px 33px;
                font-weight: 700;
                color: $purple;

                i {
                    margin-right: 5px;
                }
            }
        }

        .card-body {
            .table {
                thead {
                    border-top: 0.5px solid #E1E1FB;
                    border-bottom: 0.5px solid #f1f1fd;
                    background-color: $light-gray;

                    th {
                        color: $black;
                        font-weight: 700;
                    }
                }

                tbody {
                    td {
                        font-weight: 400;
                        color:$black;
                        
                        a {
                            color: $purple;
                            font-weight: 700;
                            text-decoration: none;
                        }

                        .delete-button {
                            background-color: transparent;
                            border: 2px solid #DBD7F4;
                            border-radius: 8px;
                            padding: 10px 15px;
                            font-weight: 700;
                            color: $purple;
                        }
                    }
                }

                th, td {
                    padding: 22px;
                    font-size: 1rem;
                }
            }
        }
    }

    .prices {
        .prices-list {
            padding-left: 0;
            
            .prices-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;

                &.total {
                    border-top: 1px solid #E1E1FB;;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    
                    p {
                        font-size: 27px;
                    }
                }

                h6, p {
                    margin-bottom: 0;
                    font-weight: 700;
                    font-size: 1rem;
                }

                h6 {
                    color: #92929D;
                }

                p {
                    color: $black;
                }
            }
        }
    }

    .payment-button {
        background-color: $purple;
        border: 2px solid $purple;
        padding: 10px 33px;
        font-weight: 700;
        color: $white;
        width: 100%;
    }
}