@import '../../scss/variables.scss';

.register-product-modal {
    .modal-content {
        border: none;

        .modal-header {
            background-color: transparent;
            padding: 50px;
            border: none;
            padding: 20px 20px;
            border-bottom: 1px solid rgba(#E1E1FB, .6);

            h6 {
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        .modal-body {
            button {
                background-color: transparent;
                border: 2px solid #DBD7F4;
                border-radius: 8px;
                padding: 10px 15px;
                font-weight: 700;
                color: $purple;
                margin-right: 5px;

                &.accept-button {
                    background-color: $purple;
                    border-color: $purple;
                    color: $white;
                }
            }
        }
    }
}