@import '../../scss/variables';

.successful-payment-modal {
    .modal-content {
        border: none;

        .modal-header {
            justify-content: center;
            border-bottom: none;
            padding-top: 1.5rem;

            .modal-title {
                text-align: center;

                .icon {
                    color: #3CAA91;
                    font-size: 4rem;
                    margin-bottom: 15px;
                }

                h5 {
                    font-size: 1.6rem;
                }
            }
        }

        .modal-body {
            text-align: center;
            padding-top: 0;
        }

        .modal-footer {
            border-top: none;
            justify-content: center;
            padding-bottom: 1.5rem;

            button {
                background-color: transparent;
                border: 2px solid #DBD7F4;
                border-radius: 8px;
                padding: 10px 15px;
                font-weight: 700;
                color: $purple;

                &.accept-button {
                    background-color: $purple;
                    border-color: $purple;
                    color: $white;
                }
            }
        }
    }
}