@import '../../../../scss/variables';

.sidebar-nav-link {
    align-items: center;
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 20px;
    border-radius: 5px;

    &.active {
        background-color: $purple;

        i {
            color: $white;
        }

        .text {
            color: $white;
            text-align: center;
        }
    }

    .icon {
        font-size: 20px;
        margin-right: 10px;
        color: #b9b9b9;
    }

    .text {
        color: $black;
        font-weight: 700;
        text-align: center;
    }
}